<!DOCTYPE html>
<html>
 
	<head>
		<meta charset="UTF-8">
		<title>beik图床</title>
		<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
		
    	<!-- 样式表 -->
    	<link rel="stylesheet" href="{{ static_url('index/index.css') }}">
		<link rel="stylesheet" href="{{ static_url('index/upload.css') }}">
	</head>
 
	<body>
		<!-- 功能区 -->
		<div id="FunBox">
			<div class="name">BEIKLIVE</div>
			<div class="name"> </div>
			<a href="#" class="myButton" onclick="uploadImg()">Upload</a>
			<a href="#" class="myButton">building</a>
			<a href="#" class="myButton">building</a>
			<a href="#" class="myButton">building</a>
			<a href="#" class="myButton">building</a>
		</div>

		<!-- 相册 -->
		<div id="ViewBox" onscroll="srollformat()">
			<!-- <div class="imgItem">
				<img src="./index/img/1.jpg">
				<marquee><span style="font-weight: bolder;font-size: 15px;color: white;">1.jpg</span></marquee>
			</div> -->
		</div>



		<!-- 弹出层 -->
		<div class="uploadbackground" id="uppp">
			
		</div>

	</body>
	<script src="{{ static_url('index/index.js') }}"></script>
	<script src="{{ static_url('index/upload.js') }}"></script>
</html>